* {
  margin: 0;
  padding: 0;
  border: 0;
}

.pointer {
  cursor: pointer;
}

.App {
  text-align: center;
}

.messages-container {
  display: flex;
}

.messages-left {
  max-width: 300px;
  width: 30%;
}

.messages-right {
  width: 70%;
}

.create-room {
  background-color: #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 150px;
}

.room-list ul {
  background-color: #ccc;
  list-style-type: none;
}

.room-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
