* {
  margin: 0;
  padding: 0;
  border: 0;
}

.pointer {
  cursor: pointer;
}

.App {
  text-align: center;
}

.create-room {
  background-color: #ddd;
  width: 30%;
}

.room-list ul {
  background-color: #ccc;
  width: 30%;
  list-style-type: none;
}

.room-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
